@mixin margin($class: "") {

  @if $class  !="" {
    $class: "#{$class}\\:";
  }

  .#{$class}m-a {
    margin: auto !important;
  }

  .#{$class}m-0 {
    margin: 0 !important;
  }

  @for $index from 1 through $columns {
    .#{$class}m-#{$index} {
      @include rem("margin", $index * $spacing-size,  !important);
    }
  }

  .#{$class}ml-a,
  .#{$class}mx-a {
    margin-left: auto !important;
  }

  .#{$class}ml-0,
  .#{$class}mx-0 {
    margin-left: 0 !important;
  }

  @for $index from 1 through $columns {
    .#{$class}ml-#{$index},
    .#{$class}mx-#{$index} {
      @include rem("margin-left", $index * $spacing-size,  !important);
    }
  }

  .#{$class}mr-a,
  .#{$class}mx-a {
    margin-right: auto !important;
  }

  .#{$class}mr-0,
  .#{$class}mx-0 {
    margin-right: 0 !important;
  }

  @for $index from 1 through $columns {
    .#{$class}mr-#{$index},
    .#{$class}mx-#{$index} {
      @include rem("margin-right", $index * $spacing-size,  !important);
    }
  }

  .#{$class}mt-a,
  .#{$class}my-a {
    margin-top: auto !important;
  }

  .#{$class}mt-0,
  .#{$class}my-0 {
    margin-top: 0 !important;
  }

  @for $index from 1 through $through {

    .#{$class}mt-#{$index},
    .#{$class}my-#{$index} {
      @include rem("margin-top", $index * $spacing-size,  !important);
    }
  }

  .#{$class}mb-a,
  .#{$class}my-a {
    margin-bottom: auto !important;
  }

  .#{$class}mb-0,
  .#{$class}my-0 {
    margin-bottom: 0 !important;
  }

  @for $index from 1 through $through {

    .#{$class}mb-#{$index},
    .#{$class}my-#{$index} {
      @include rem("margin-bottom", $index * $spacing-size,  !important);
    }
  }
}

@include margin();

@include sm {
  @include margin("sm");
}

@include md {
  @include margin("md");
}

@include lg {
  @include margin("lg");
}

@include xl {
  @include margin("xl");
}