.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}